body{
    background-color: rgb(238, 236, 223);
} 
#manage{
    padding-top: 40px;
    margin-top: 50px;
    border-left: 1px solid black;
}
#displayzone{
    margin-top: 50px;
    border-radius: 30px;
    border-left: 2px black outset;
    text-align: center;
    background-color: rgb(115, 107, 133,0.1);
    height: 450px
}
#header{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(118, 139, 139,0.3);
    height: 70px;
    color: cornsilk;
}
#flot{
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(228, 138, 28,0.5)
}
#createForm{
    display: none;
}
#img{
    display: inline;
}
img{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}




.dropbtn {
    background-color: #b2c0b2;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}