.form-group{
    margin-left: 35%;
    margin-right: 30%;
    height: 400px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
}

body{
    background-color: rgb(238, 236, 223);
}   
#header{
    background-color: rgb(103, 201, 202,0.3);
    height: 150px;
}